{% extends 'layout.html' %}
{% block body %}
<script>
  $(function() {


  	var fetchData = function(word){
		alert(word);

		 $.get(host_url+word, function(data, status){
		 	var arr = JSON.parse(data);
        	alert("Data: " + JSON.stringify(data) + "\nStatus: " + status);
    		});
  		// $.ajax({
				//   type: "GET",
				//   url: 'localhost:5000/meloentjoer/retrieve/'+word,
				//   dataType :'json',
				//   contentType: 'application/json;charset=UTF-8',
				//   success: function(item){
				// 		alert(JSON.stringify(item));
				//   }
				// });
  	};

	// $( "#tags" ).keypress(function(oEvent){
	// 	// alert('ok');
	// 	var word = $("#tags").val();
	// 	alert(word);
	// 	$.get("http://localhost:5000/meloentjoer/retrieve/"+word, function(data, status){
	// 				 	var arr = JSON.parse(data);
	// 		        	// alert("Data: " + JSON.stringify(data) + "\nStatus: " + status);
	// 		        	$( "#tags" ).autocomplete('option','source',arr);


	// 	    		});
	// });

    $( "#asal" ).autocomplete({
    //   	search: function(oEvent, oUi) {
    //     // get current input value
    //     	
        

	   //      $.get("http://localhost:5000/meloentjoer/retrieve/"+word, function(data, status){
			 // 	var arr = JSON.parse(data);
	   //      	// alert("Data: " + JSON.stringify(data) + "\nStatus: " + status);
	   //      	$( "#tags" ).autocomplete({source:arr});


    // 		});
    // 	}
	    source: function( request, response ) {
	    var word = $("#asal").val();
        $.ajax({
          url: host_url+'retrieve/'+word,
          success: function( data ) {
            response( JSON.parse(data) );
          }
        });
      }

    });

    $( "#tujuan" ).autocomplete({
    //   	search: function(oEvent, oUi) {
    //     // get current input value
    //     	
        

	   //      $.get("http://localhost:5000/meloentjoer/retrieve/"+word, function(data, status){
			 // 	var arr = JSON.parse(data);
	   //      	// alert("Data: " + JSON.stringify(data) + "\nStatus: " + status);
	   //      	$( "#tags" ).autocomplete({source:arr});


    // 		});
    // 	}
	    source: function( request, response ) {
	    var word = $("#tujuan").val();
        $.ajax({
          url: host_url+"retrieve/"+word,
          success: function( data ) {
            response( JSON.parse(data) );
          }
        });
      }

    });

    $("#kirim").click(function(){
    	var formData = {
    		source:$("#asal").val(),
    		destination:$("#tujuan").val()
    	}
    	$.ajax({
				  type: "POST",
				  url: host_url+"search",
				  data: JSON.stringify(formData),
				  dataType :'json',
				  contentType: 'application/json;charset=UTF-8',
				  success: function(item){
				  	// var result = '';
				  	// item['data'].forEach(function(x){
				  	// 	result+='</br>'
				  	// 	x.forEach(function(y){
				  	// 		result +=y+'</br>';	
				  	// 	});
				  	// });
				  	$('#result').html(item['data']);
				  }
				});
    });

   //  var tags = $("#tags").autocomplete({ 
   //    change: function() {
   //        alert('changed');
   //    }
   // });
   // companyList.autocomplete('option','change').call(companyList);
  });
  </script>
  <!-- <div id="result"></div> -->

<style type="text/css">

  .spacer{
    margin: 10px;
  }
  </style>
  <div class="container">
    <div class="container-fluid spacer well">
        <div class="form-group">
          <div class="ui-widget">
            <label for="asal">Asal: </label>
            <input id="asal">
            <label for="tujuan">Tujuan: </label>
            <input id="tujuan">
            <input id="kirim" type="submit" value="Cari Rute!">
          </div>
        </div>
      </div>
    </div>
    <div id="result" class="container-fluid spacer" >
      
    </div>
  </div>

{% endblock %}